h1{
    text-align: center;
}

h4{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
form{
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.container{
    max-height: 80%;
    max-width: 80%;
   
}
.btn{
    max-height: 80%;
    max-width: 80%;
    margin-right:50%;
    margin-left: 50%;
    margin-bottom: 10px;
    
    
   
}

.res{
    text-align: center;
}
li{
    color:white;
}
.card{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

#imagem{
   display: none;
   width: 200px;
   height: 200px;
   margin-left: 50%;
   margin-right: 50%;
   
}
#imagem1{
    display: none;
    width: 200px;
    height: 200px;
    margin-left: 50%;
    margin-right: 50%;
    
 }