h1{
    text-align: center;
}

h4{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
form{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.container{
    margin-left: 20px;
   
}
.btn{
    margin-left: 510px;
    text-align: center;
    margin-bottom: 10px;
}


form{
    margin-left: 200px;
    margin-right: 200px;
}
.res{
    text-align: center;
}
li{
    color:white;
}